<div id="prediction" class="container waste-form">
<form id="predictionForm">
        <div class="row">
            <div class="input-field col s4">
            </div>
            <div class="input-field col s4">
                <input id="customers" type="number" name="Customers" min="0" class="validate">
                <label for="customers">Amount of Customers</label>
            </div>
            <div class="input-field col s4">
            </div>
        </div>

            </div>
            <div class="center col s4">
                <a class="waves-effect waves-light btn" onclick="predict()">Submit</a>
            </div>
    </form>

    <div class = "container" id = "results">
        
    </div>